<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanyain</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <!-- As a link -->
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">
                <img src="/static/img/generator.png" alt="Logo Tanyain" height="75">
                Tanyain
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 p-5">
                <img src="/static/img/generator.png" alt="question-generator" width="100">
                <h3>Question Generator</h3>
                <p>Please upload a PDF document</p>

                <div class="mb-3">
                    <form action="/result" method="post" enctype="multipart/form-data">
                        <label for="file" class="form-label"></label>
                        <input class="form-control" type="file" id="file" name="file">
                        <input class="btn btn-primary mt-3" type="submit" value="Generate Questions!">
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>

</html>